html,
body {
  margin: 0;
  min-block-size: 100%;
  height: 100%;
}

.utrecht-surface {
  block-size: 100%;
  inline-size: 100%;
}

.utrecht-figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.utrecht-paragraph,
.utrecht-unordered-list,
.utrecht-ordered-list,
.utrecht-figure,
.utrecht-code-block {
  margin-block: 0.5em;
}
